# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# env
.env
.env.*
!.env.example
